.header{
    grid-area: header;
    display: flex;
    justify-content: space-between; 
    padding: 20px;
    align-items: center;
}
.img{
    width: 120px;
    height: 120px;
    border-radius:50% ;
}
.text{
    font-size: 30px;
}