.dialog p:nth-of-type(1){
    margin-right: 40px;
    min-width: 170px;
    border-right: 2px solid black;
}
.dialog{
    display: flex;
    font-size: 20px;
    font-weight: 500;
    
}
p{
    margin:10px 0px;
}