
.input{
    padding: 10px;
    border: 3px solid wheat;
    outline: none;
    border-radius: 7px;
}
.input:focus{
    border: 3px solid darkslategray;
}
.button{
    width: 120px;
    height: 40px;
    border: 3px solid wheat;
    margin-left: 10px;
    border-radius: 7px;
    
}
