
.input{
    padding: 10px;
    border: 3px solid wheat;
    outline: none;
    border-radius: 7px;
    margin-right: 10px;
}
.input:focus{
    border: 3px solid darkslategray;
}
.button{
    width: fit-content;
    padding: 10px 20px;
    border: 3px solid wheat;
    margin-left: 10px;
    border-radius: 7px;
    
}
